.clip_path {
  clip-path: polygon(
    83.09% 79.5%,
    82.91% 70.7%,
    100% 70.36%,
    100% 35.77%,
    82.91% 36.25%,
    83.09% 27.36%,
    16.85% 27.36%,
    17.24% 35.77%,
    0.58% 35.77%,
    0% 70.7%,
    18.3% 70.36%,
    18.59% 79.5%
  );
  background-color: #000000;
  color: white;
  padding: 15px;
}

.card_wrapper {
  border-radius: 7px;
  text-align: center;
  padding: 10px;
  box-shadow: 1px 1px 1px #000000, -1px -1px 1px #000000;

  &:hover {
    box-shadow: 1px 1px 5px #000000, -1px -1px 5px #000000;
  }
}

.card_inner_style {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.all_card_wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 10px 5px;
}

.button_style {
  border: none;
  outline: none;
  background-color: lightgray;
  padding: 10px 12px;
  border-radius: 5px;
  cursor: pointer;
}

.free_bg {
  background-color: white;
  color: black;
  border-radius: 7px;
}
.booked_bg {
  background-color: #ff6b6b;
  color: white;
  border-radius: 7px;
}
.hold_bg {
  background-color: yellow;
  color: black;
  border-radius: 7px;
}
.maintaince_bg {
  background-color: black;
  color: lightgray;
  border-radius: 7px;
}
.reserved_bg {
  background-color: #2f9e44;
  color: white;
  border-radius: 7px;
}

.flex_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0px;
}
.gap5 {
  gap: 5px;
}

.flex_box_center {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.sticky_top_position {
  position: sticky;
  top: 0;
}

.sidebar_links {
  display: flex;
  align-items: center;
  gap: 5px;
  text-align: left;
  background-color: #fcdfdf;
  text-decoration: none;
  width: 100%;
  padding: 5px;
  color: black;

  &:hover {
    color: white;
    background-color: #ff6b6b;
  }
  &:focus {
    color: white;
    background-color: #ff6b6b;
  }
  &:active {
    color: white;
    background-color: #ff6b6b;
  }
}

.cross_tabs {
  padding-right: 30px;
  border: 1px solid lightgray;
  background-color: #edf0f3;

  &:hover {
    background-color: #cccbcb;
  }
  &:focus {
    background-color: #cccbcb;
  }
  &:active {
    background-color: #cccbcb;
  }
}
.cross_icon_style {
  width: 25px;
  position: absolute;
  top: 2px;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  color: black;
  padding: 0;

  svg {
    width: 15px;
  }

  &:hover {
    background-color: #cccbcb;
    color: #000000;
  }
}

.toggle_btn_style {
  display: inline-block;
  background-color: #ff6b6b;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 26px;
  height: 26px;
  border-radius: 50px;

  &:hover {
    background-color: #e73333;
  }
}

.booking_udp_dropdown_buttons_box {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #fff;
  border-radius: 5px;
  padding: 3px;
  box-shadow: 0 4px 30px #0000001a;
  backdrop-filter: blur(7.7px);
  border: 1px solid #f1efef4d;
  width: 200px;
  z-index: 20;
}

.booking_udp_dropdown_buttons {
  display: inline-block;
  border-radius: 5px;
  background-color: transparent;
  color: black;
  padding: 5px 10px;

  span {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &:hover {
    background-color: #f1f3f5;
    backdrop-filter: blur(9.1px);
    color: #000000;
  }
}

.d_block {
  display: block;
}
.d_none {
  display: none;
}

.dashboard_card_style {
  width: 100%;
  padding: 10px;
  background-color: #ffeded;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  border: 1px solid #ff6b6b;
  border-radius: 8px;
}

.dashboard_icon {
  margin-top: 5px;
  svg {
    display: block;
    padding: 5px;
    border-radius: 50px;
    background-color: #fff;
    color: #ff6b6b;
    height: 40px;
    width: 40px;
  }
}

.dashboard_card_header {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.grid_2 {
  display: grid;
  grid-template-columns: repeat(2, auto);
  align-items: flex-start;
  gap: 10px;
}
.tab_grid_2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: flex-start;
  gap: 10px;
}

.tab_button {
  font-size: 14px;
}

.modal_anchor_style {
  list-style: none;
  background-color: #ffeded;
  padding: 10px 15px;
  border-radius: 5px;
  border: 1px solid #000000;

  input {
    width: 100%;
    display: block;
    text-decoration: none;

    &:hover {
      background-color: #ff6b6b;
    }
    &:checked {
      color: white;
      background-color: #ff6b6b;
      border: none;
    }
  }
}

.ul_p0 {
  padding: 0;
}

/* Profile Offcanvas style start */
.profile_border_b {
  border-bottom: 2px dotted lightgray;
  margin-bottom: 10px;
}
.profile_border_b_none {
  border-bottom: none;
  margin-bottom: 0px;
}
.profile_sidebar {
  background-color: #fff;
  box-shadow: 2px 2px 5px lightgray, -2px -2px 5px lightgray;
}
.profile_navtabs {
  background-color: #fff;
  box-shadow: 2px 2px 5px lightgray, -2px -2px 5px lightgray;
  margin-top: 5px;
}
.profile_tabpanes {
  margin: 10px;
  padding: 10px;
  box-shadow: 2px 2px 5px lightgray, -2px -2px 5px lightgray;
  background-color: #fff;
}
.profile_border {
  border: 1px solid #000;
  border-radius: 5px;
}
.border_top {
  border-top: 1px solid #000;
}

.profile_img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
}
.id_img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 8px;
}
.profile_footer {
  margin: 10px;
  box-shadow: 2px 2px 5px lightgray, -2px -2px 5px lightgray;
}
.tab_icon {
  button {
    span {
      svg {
        width: 12px;
        height: 12px;
      }
    }
  }
}

/* basic start */
.id_card_download {
  width: 100%;
  display: inline-block;
  padding: 7px 10px;
  color: white;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  border-radius: 8px;
  background-color: #fa5252;
}
.id_card_print {
  width: 100%;
  display: inline-block;
  padding: 7px 10px;
  color: white;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  border-radius: 8px;
  background-color: #228be6;
}
/* basic end */
/* Profile Offcanvas style end */

/* transaction details css start */
.check_mark_style {
  border-radius: 50px;
  background-color: #40c057;
  padding: 20px;
}

.transaction_form_to {
  margin-top: 20px;
  border: 1px solid lightgray;
  border-radius: 10px;
}
.border_right {
  border-right: 1px solid lightgray;
}
.border_b {
  border-bottom: 1px solid lightgray;

  &:last-child {
    border-bottom: none;
  }
}
.print_preview_border {
  padding: 30px;
  border: 1px solid lightgray;
  border-radius: 8px;
}
/* transaction details css end */

.z10 {
  z-index: 10;
}
.z20 {
  z-index: 20;
}
.z30 {
  z-index: 30;
}

/* table row style */
.delete_btn_style {
  background-color: transparent;
  padding: 5px;
  color: #fa5252;
  &:hover {
    background-color: #f8f9fa;
    color: #fa5252;
  }
}
.show_btn_style {
  background-color: transparent;
  padding: 5px;
  color: #40c057;
  &:hover {
    background-color: #f8f9fa;
    color: #40c057;
  }
}

/* staff attendance buttons style start */
.button_hover {
  button {
    &:hover {
      background-color: #ffeded;
    }
  }
}
/* staff attendance buttons style end */

.box_border {
  border: 1px solid #f4e7e7;
}
.table_header {
  background-color: #f7f4f4;
}
.table_row {
  /* background-color: #eaeaf0; */

  &:hover {
    background-color: #ffeded;
  }
}

.patient_link_hover {
  background-color: transparent;

  &:hover {
    background-color: transparent;
    color: #4c6ef5;
  }
}

/* Profile edit button css start */
.avatarWrapper {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: "50%";
  overflow: "hidden";
  cursor: "pointer";
  border: 2px solid green;
  background-color: yellow;

  &:hover {
    opacity: 1;
  }
}
.avatar {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.profile_picture_uploader {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  border-radius: 50%;
  border: 2px solid lightgray;

  img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
  }
}
/* Profile edit button css end */

/* doctor information Document Tab start */
.document_card_button {
  color: black;
  background-color: transparent;

  &:hover {
    color: black;
    background-color: #e3e2e2;
  }
}
/* doctor information Document Tab end */

/* doctor information Timeline Tab start */
.timeline_circle_list {
  position: relative;
  display: flex;
  align-items: center;
  gap: 15px;

  > div {
    border-radius: 6px;
  }

  &::before {
    content: "\262A";
    /* color: #fa5252; */
    color: white;
    background-color: #40c057;
    font-size: 25px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 50px;
    z-index: 20;
  }
  &::after {
    position: absolute;
    left: 15px;
    top: 0;
    content: "";
    color: white;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5px;
    height: 100%;
    border-radius: 10px;
    background-color: #40c057;
  }
  &:last-child {
    &::after {
      height: 100%;
    }
  }
}
/* doctor information Timeline Tab end */

@media only screen and (max-width: 1440px) {
  .grid_2 {
    grid-template-columns: repeat(2, auto);
  }
  .tab_grid_2 {
    grid-template-columns: repeat(2, 1fr);
  }

  .toggle_btn_style {
    width: 30px;
    height: 30px;
    border-radius: 7px;

    svg {
      width: 20px;
      height: 20px;
    }
  }

  .dashboard_icon {
    svg {
      height: 30px;
      width: 30px;
    }
  }

  .cross_tabs {
    padding: 10px 30px 10px 10px;
  }

  .tab_button {
    font-size: 11px;
  }
}

@media print {
  .print_d_none {
    display: none;
    padding: 0;
    margin: 0;
  }

  .print_flex_box {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
