.clip_path {
  clip-path: polygon(
    83.09% 79.5%,
    82.91% 70.7%,
    100% 70.36%,
    100% 35.77%,
    82.91% 36.25%,
    83.09% 27.36%,
    16.85% 27.36%,
    17.24% 35.77%,
    0.58% 35.77%,
    0% 70.7%,
    18.3% 70.36%,
    18.59% 79.5%
  );
  background-color: #000000;
  color: white;
  padding: 15px;
}

.card_wrapper {
  border-radius: 7px;
  text-align: center;
  padding: 10px;
  box-shadow: 1px 1px 1px #000000, -1px -1px 1px #000000;

  &:hover {
    box-shadow: 1px 1px 5px #000000, -1px -1px 5px #000000;
  }
}

.card_inner_style {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.all_card_wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 10px 5px;
}

.button_style {
  border: none;
  outline: none;
  background-color: lightgray;
  padding: 10px 12px;
  border-radius: 5px;
  cursor: pointer;
}

.free_bg {
  background-color: white;
  color: black;
}
.booked_bg {
  background-color: #ff6b6b;
  color: white;
}
.hold_bg {
  background-color: yellow;
  color: black;
}
.maintaince_bg {
  background-color: black;
  color: lightgray;
}
.reserved_bg {
  background-color: #2f9e44;
  /* background-color: #1a4d2e; */
  color: white;
}

.flex_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0px;
}

.sticky_top_position {
  position: sticky;
  top: 0;
}

.circle_link {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff6b6b;
  text-decoration: none;
  height: 50px;
  width: 50px;
  border-radius: 50px;
  padding: 5px;
  color: white;

  &:hover {
    background-color: #e73333;
  }
}
