.clip_path {
  clip-path: polygon(
    83.09% 79.5%,
    82.91% 70.7%,
    100% 70.36%,
    100% 35.77%,
    82.91% 36.25%,
    83.09% 27.36%,
    16.85% 27.36%,
    17.24% 35.77%,
    0.58% 35.77%,
    0% 70.7%,
    18.3% 70.36%,
    18.59% 79.5%
  );
  background-color: #000000;
  color: white;
  padding: 15px;
}

.card_wrapper {
  border-radius: 7px;
  text-align: center;
  padding: 10px;
  box-shadow: 1px 1px 1px #000000, -1px -1px 1px #000000;

  &:hover {
    box-shadow: 1px 1px 5px #000000, -1px -1px 5px #000000;
  }
}

.card_inner_style {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.all_card_wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 10px 5px;
}

.button_style {
  border: none;
  outline: none;
  background-color: lightgray;
  padding: 10px 12px;
  border-radius: 5px;
  cursor: pointer;
}

.free_bg {
  background-color: white;
  color: black;
}
.booked_bg {
  background-color: #ff6b6b;
  color: white;
}
.hold_bg {
  background-color: yellow;
  color: black;
}
.maintaince_bg {
  background-color: black;
  color: lightgray;
}
.reserved_bg {
  background-color: #2f9e44;
  /* background-color: #1a4d2e; */
  color: white;
}

.flex_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0px;
}
.gap5 {
  gap: 5px;
}

.sticky_top_position {
  position: sticky;
  top: 0;
}

.sidebar_links {
  display: flex;
  align-items: center;
  gap: 5px;
  text-align: left;
  background-color: #ffeded;
  text-decoration: none;
  width: 100%;
  padding: 5px;
  color: black;

  &:hover {
    color: white;
    background-color: #ff6b6b;
  }
  &:focus {
    color: white;
    background-color: #ff6b6b;
  }
  &:active {
    color: white;
    background-color: #ff6b6b;
  }
}

.cross_tabs {
  padding-right: 30px;
  border: 1px solid lightgray;
  background-color: #edf0f3;

  &:hover {
    background-color: #cccbcb;
  }
  &:focus {
    background-color: #cccbcb;
  }
  &:active {
    background-color: #cccbcb;
  }
}
.cross_icon_style {
  width: 25px;
  position: absolute;
  top: 2px;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  color: black;
  padding: 0;

  svg {
    width: 15px;
  }

  &:hover {
    background-color: #cccbcb;
    color: #000000;
  }
}

.toggle_btn_style {
  display: inline-block;
  background-color: #ff6b6b;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50px;

  &:hover {
    background-color: #e73333;
  }
}

.booking_udp_dropdown_buttons_box {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #fff;
  border-radius: 5px;
  padding: 3px;
  box-shadow: 0 4px 30px #0000001a;
  backdrop-filter: blur(7.7px);
  border: 1px solid #f1efef4d;
  width: 200px;
  z-index: 20;
}

.booking_udp_dropdown_buttons {
  display: inline-block;
  border-radius: 5px;
  background-color: transparent;
  color: black;
  padding: 5px 10px;

  span {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &:hover {
    background-color: #f1f3f5;
    backdrop-filter: blur(9.1px);
    color: #000000;
  }
}

.d_block {
  display: block;
}
.d_none {
  display: none;
}

.dashboard_card_style {
  width: 100%;
  padding: 10px 5px;
  background-color: #fcbdbd;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  border: 1px solid #000;
  border-radius: 8px;
}

.dashboard_icon {
  svg {
    height: 40px;
    width: 40px;
  }
}

.dashboard_card_header {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.grid_2 {
  display: grid;
  grid-template-columns: repeat(2, auto);
  align-items: flex-start;
  gap: 5px;
}

@media only screen and (max-width: 1600px) {
  .grid_2 {
    grid-template-columns: repeat(2, auto);
  }

  .toggle_btn_style {
    width: 30px;
    height: 30px;
    border-radius: 7px;

    svg {
      width: 20px;
      height: 20px;
    }
  }

  .dashboard_icon {
    svg {
      height: 30px;
      width: 30px;
    }
  }

  .cross_tabs {
    padding: 10px 30px 10px 10px;
  }
}
